RewriteEngine On

RewriteRule ^help/integration/iiko-self/?$ /help/integration/syrve-self [R=301,L]
RewriteRule ^help/integration/iiko/?$ /help/integration/syrve [R=301,L]
RewriteRule ^help/settings/certificate-ooo/?$ /help/settings/certificate-company [R=301,L]

RewriteCond %{HTTPS} !=on
RewriteCond %{HTTP:X-Forwarded-Proto} !https [NC]
RewriteCond %{HTTP_HOST} !^localhost(:[0-9]+)?$ [NC]
RewriteCond %{HTTP_HOST} !^127\.0\.0\.1(:[0-9]+)?$
RewriteCond %{HTTP_HOST} !^\[::1\](:[0-9]+)?$
RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]
